<section class="authorization">
  <div class="backdrop is-hidden">
    <div
      class="auth"
      id="auth"
    >
      <div class="auth-wrap--top">
        <h3 class="auth-title">LOG IN</h3>
        <p class="auth-text">
          Log in to your account and enjoy your privileges right now!
        </p>
      </div>
      <div class="auth-wrap--bottom">
        <form
          class="auth-form"
          id="auth-form"
        >
          <label>
            <input
              type="email"
              name="email"
              id="auth-email"
              class="auth-input"
              placeholder="Your E-mail"
            />
          </label>
          <label>
            <input
              type="password"
              name="password"
              id="auth-password"
              class="auth-input"
              placeholder="Password"
            />
          </label>
          <button
            class="auth-submit"
            type="submit"
          >LOG IN</button>
        </form>
        <p class="auth-question">
          Don’t have an account?
          <a
            class="auth-link"
            href=""
            id="to-signup"
          >Sign up</a>
        </p>
      </div>
    </div>
    <div
      class="auth hidden-item"
      id="reg"
    >
      <div class="auth-wrap--top">
        <h3
          class="auth-title"
          id="reg-title"
        >SIGN UP</h3>
        <p
          class="auth-text"
          id="reg-text"
        >
          Registration only takes a couple of minutes and you will get a lot of
          privileges,try it!
        </p>
      </div>
      <div class="auth-wrap--bottom">
        <form
          class="auth-form"
          id="reg-form"
        >
          <label>
            <input
              type="text"
              name="name"
              id="name"
              class="auth-input"
              placeholder="Full name"
            />
            <input
              type="email"
              name="email"
              id="reg-email"
              class="auth-input"
              placeholder="Your E-mail"
            />
          </label>
          <label>
            <input
              type="password"
              name="password"
              id="reg-password"
              class="auth-input"
              placeholder="Password"
            />
          </label>
          <button
            class="auth-submit"
            type="submit"
          >SIGN UP</button>
        </form>
        <p class="auth-question">
          Do you have an account?
          <a
            class="auth-link"
            href=""
            id="to-login"
          >Log in</a>
        </p>
      </div>
    </div>
  </div>
</section>