<section class="authorization">
  <div class="backdrop-auth is-hidden">
    <div class="auth" id="auth">
      <div class="auth-wrap--tablet">
        <div class="auth-wrap--top">
          <h3 class="auth-title mob">LOG IN</h3>
          <h3 class="auth-title tab">DON`T HAVE AN ACCOUNT?</h3>
        </div>
        <div class="auth-wrap--middle">
          <p class="auth-text mob">
            Log in to your account and enjoy your privileges right now!
          </p>
          <p class="auth-text tab">
            Registration only takes a couple of minutes and you will get a lot
            of privileges, try it!
          </p>
        </div>
        <button id="to-signup-tab" type="button">SIGN UP</button>
      </div>
      <div class="auth-wrap--bottom">
        <form class="auth-form" id="auth-form">
          <h3 class="form-title">WELCOME BACK</h3>
          <div class="form-wrap">
            <label>
              <input
                type="email"
                name="email"
                id="auth-email"
                class="auth-input"
                placeholder="Your E-mail"
              />
            </label>
            <label>
              <input
                type="password"
                name="password"
                id="auth-password"
                class="auth-input"
                placeholder="Password"
              />
            </label>
          </div>
          <button class="auth-submit" type="submit">LOG IN</button>
        </form>
        <p class="auth-question">
          Don’t have an account?
          <button type="button" class="auth-link" id="to-signup">
            Sign up
          </button>
        </p>
      </div>
    </div>

    <div class="auth hidden-item" id="reg">
      <div class="auth-wrap--tablet">
        <div class="auth-wrap--top">
          <h3 class="auth-title mob" id="reg-title">SIGN UP</h3>
          <h3 class="auth-title tab" id="reg-title">HAVE AN ACCOUNT?</h3>
        </div>
        <div class="auth-wrap--middle">
          <p class="auth-text mob" id="reg-text">
            Registration only takes a couple of minutes and you will get a lot
            of privileges,try it!
          </p>
          <p class="auth-text tab">
            Log in to your account and enjoy your privileges right now!
          </p>
        </div>
        <button id="to-login-tab" type="button">LOG IN</button>
      </div>
      <div class="auth-wrap--bottom">
        <form class="auth-form" id="reg-form">
          <h3 class="form-title">CREATE NEW ACCOUNT</h3>
          <div class="form-wrap">
            <label>
              <input
                type="text"
                name="name"
                id="name"
                class="auth-input"
                placeholder="Full name"
              />
              <input
                type="email"
                name="email"
                id="register-email"
                class="auth-input"
                placeholder="Your E-mail"
              />
            </label>
            <label>
              <input
                type="password"
                name="password"
                id="register-password"
                class="auth-input"
                placeholder="Password"
              />
            </label>
          </div>
          <button class="auth-submit" type="submit">SIGN UP</button>
        </form>
        <p class="auth-question">
          Do you have an account?
          <button type="button" class="auth-link" id="to-login">Log in</button>
        </p>
      </div>
    </div>
  </div>
</section>
