<header class="header" id="home">
    <div class="header__container container">
        <div class="header__wrapper">
            <a class="logo" href="./index.html">
                <svg class="logo__icon" width="24px" height="24px">
                    <!-- <use href="./film.svg"></use> -->
                    <!-- тут іконка в спрайті -->
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item active">
                        <a class="nav__link" href="index.html">
                            home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="#">
                            my library
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="input">
            <form class="input__wraper form">
                <input class="header__input" name="searchQuery" type="text" placeholder="Movie search"
                    autocomplete="off" />
                <button class="input__search-btn" type="submit">
                    <svg class="input__search-icon" width="12px" height="12px">
                        <!-- <use href="./sprite...??"></use> -->
                    </svg>
                </button>
            </form>
        </div>
    </div>
</header>