<section>
  <button type="button" id="login-btn">LOGIN</button>

  <div class="form_auth_block is-hidden">
    <div class="form_auth_block_content">
      <p class="form_auth_block_head_text">Авторизация</p>
      <form class="feedback-form" autocomplete="off">
        <label>
          Email
          <input type="email" name="email" autofocus />
        </label>
        <label>
          Password
          <input type="password" name="password" autofocus />
        </label>
        <button type="submit">Submit</button>
      </form>
      <button type="button" id="close-modal">X</button>
    </div>
  </div>
</section>
