<main>
  <div class="container">
    <section class="movieGallery">
      <h1 class="visually-hidden">Main Filmoteka page</h1>
      <div class="library-img-wrapper visually-hidden">
        <img
          class="img-for-no-list"
          src="./images/img-for-no-list.jpg"
          alt="There is still no Movies in the List!"
          loading="lazy"
        />
      </div>
      <div class="search-error-img-wrapper visually-hidden">
        <img
          class="img-for-search-error"
          src="./images/img-for-search-error.jpeg"
          alt="There is still no Movies in the List!"
          loading="lazy"
        />
      </div>
      <ul class="movieList"></ul>
    </section>
  </div>
</main>
