<div class="backdrop is-hidden">
    <div class="backdrop__container ">
        <h2 class="backdrop__title">12 friends</h2>
        <ul class="backdrop__list ">

        </ul>
        <button
            class="backdrop__button"
            type="button"
        >Close</button>

        <!-- Dimon -->

        <div class="team-wrapper">
            <div class="team-card">
                <img
                    src="./images/team/denis.jfif"
                    alt="Ruslana"
                    class="team-image"
                >
                <p class="team-name">Denis</p>
                <p class="team-role">Team Lead</p>
                <a
                    href="https://github.com/DZaporozhan"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/Kate_V_Odessa.jpg"
                    alt="Olga"
                    class="team-image"
                >
                <p class="team-name">Kate V</p>
                <p class="team-role">Scrum Master</p>
                <a
                    href="https://github.com/katelovestocode"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/chekalska_natalia_lviv.jpg"
                    alt="Daria"
                    class="team-image"
                >
                <p class="team-name">Natalia</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/atamaiNia"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/dmitro_serheiev_kyiv.jpg"
                    alt="Denis"
                    class="team-image"
                >
                <p class="team-name">Dmitro</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/DSerSmart"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/elvira_dnipro.jpg"
                    alt="Ihor"
                    class="team-image"
                >
                <p class="team-name">Elvira</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/Elvira-Miasnykova"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/olya_lviv.jpg"
                    alt="Katya"
                    class="team-image"
                >
                <p class="team-name">Olya</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/olynka"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/pastukhov_zhenya _kyiv.jpg"
                    alt="Vladymyr"
                    class="team-image"
                >
                <p class="team-name">Zhenya</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/mamamamamaa"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/sharhorodska_krystyna_irpin.jpg"
                    alt="Aleksandr"
                    class="team-image"
                >
                <p class="team-name">Krystyna</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/rinjara"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/Team/maksim_hordiienko_bucha.jpg"
                    alt="Aleksandr"
                    class="team-image"
                >
                <p class="team-name">Maksim</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/MaksimGordienko89"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/petro.jpg"
                    alt="Aleksandr"
                    class="team-image"
                >
                <p class="team-name">Petro</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/PetroHrynyk"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/illia.jpg"
                    alt="Aleksandr"
                    class="team-image"
                >
                <p class="team-name">Illia</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/Illia-illia"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
            <div class="team-card">
                <img
                    src="./images/team/alex.jfif"
                    alt="Aleksandr"
                    class="team-image"
                >
                <p class="team-name">Alex</p>
                <p class="team-role">Developer</p>
                <a
                    href="https://github.com/AlexDolhov"
                    target="_blank"
                    class="team-git"
                ><img src="./images/team/git.png" /></a>
            </div>
        </div>

        <!-- ===== -->
    </div>
    <section id="slideshow">
        <div class="entire-content">

            <div class="content-carrousel">
                <figure-1 class="shadow-1"><img src="./images/team/images.png" /></figure-1>
                <figure class="shadow">
                    <img src="./images/team/chekalska_natalia_lviv.jpg" />
                </figure>
                <figure class="shadow"><img src="./images/team/dmitro_serheiev_kyiv.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/elvira_dnipro.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/kate_v_odessa.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/maksim_hordiienko_bucha.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/olya_lviv.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/pastukhov_zhenya _kyiv.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/sharhorodska_krystyna_irpin.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/petro.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/denis.jfif" /></figure>
                <figure class="shadow"><img src="./images/team/illia.jpg" /></figure>
                <figure class="shadow"><img src="./images/team/alex.jfif" /></figure>
            </div>
        </div>
    </section>

</div>