<!-- <div class="backdrop-spinner">
  <div class="ring"></div>
  <div class="ring"></div>
  <div class="ring"></div>
</div> -->

<!-- visually-hidden -->
<div class="backdrop-spinner">
  <div class="circle">
    <div class="triangles">
      <div class="triangle">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="triangle -big">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="triangle -bigger">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>

      <div class="triangle -other">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="triangle -other -big">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="triangle -other -bigger">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>
</div>
