.header__logo {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-top: 11px;
  overflow: hidden;
  top: 36px;
  left: 48px;
  position: absolute;

  @include tablet {
    top: 41px;
    left: 30px;
  }

  @media screen and (min-width: 852px) {
    left: 32px;
  }

  @media screen and (min-width: 872px) {
    left: 44px;
  }

  @media screen and (min-width: 969px) {
    left: 91px;
  }

  @media screen and (min-width: 1280px) {
    left: 17px;
  }

  @media screen and (min-width: 1363px) {
    left: 30px;
  }

  @media screen and (min-width: 1420px) {
    left: 59px;
  }
  @media screen and (min-width: 1600px) {
    left: 140px;
  }

  @media screen and (min-width: 1800px) {
    left: 160px;
  }
}

@keyframes filmReel {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-29px);
  }
}

.header__logo--icon {
  animation: filmReel 1s linear infinite;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
