.backdrop-spinner {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba($color: $trird-text-color, $alpha: 0.5);
}

.circle {
  background-color: #ff6b08;
  border-radius: 50%;
}

.triangles {
  height: 25vmin;
  width: 25vmin;
  perspective: 15px;
  animation: triangle-depth $duration $ease infinite;
  opacity: 0.8;
}

.triangle {
  --z: 0px;
  --size: 14%;

  height: 100%;
  width: 100%;
  position: absolute;
  mix-blend-mode: screen;
  transform: translateZ(var(--z)) rotate(0turn);
  animation: triangle-spin $duration $ease infinite;

  &.-other {
    --size: 7%;
    transform: translateZ(var(--z)) rotate(60deg) rotate(0turn);
    animation-name: other-triangle-spin;
  }
}

.dot {
  position: absolute;
  border-radius: 50%;
  background: $main-bgcolor; //white
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  width: var(--size);
  height: var(--size);

  transform-style: preserve-3d;

  opacity: 0.8;
  --z: 45px;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      transform: rotate(#{calc($i / 3)}turn)
        translateX(200%)
        translateZ(var(--z));
    }
  }
}

.-big {
  --z: 6px;
  .dot {
    background: $first-text-color; //black
  }
}

.-bigger {
  --z: 3px;
  .dot {
    background: $line-color; //red
    z-index: 75;
  }
}

@keyframes triangle-depth {
  0%,
  100% {
    perspective: 14px;
    transform: scale(0.8);
  }
  50% {
    perspective: 70px;
    transform: scale(1.3);
  }
}

@keyframes triangle-spin {
  100% {
    transform: translateZ(var(--z)) rotate(1turn);
  }
}

@keyframes other-triangle-spin {
  100% {
    transform: translateZ(var(--z)) rotate(60deg) rotate(1turn);
  }
}
// .backdrop-spinner {
//   position: fixed;
//   top: 0;
//   z-index: 999;
//   width: 100%;
//   height: 100%;
//   background-color: rgba($color: $trird-text-color, $alpha: 0.95);
//   transition: $transition;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .ring {
//   position: relative;
//   width: 150px;
//   height: 150px;
//   border: 4px solid transparent;
//   border-radius: 50%;
//   border-top: 4px solid #ff001b;
//   margin: -45px;
//   animation: spinner 4s linear infinite;
// }

// .ring::before {
//   content: '';
//   position: absolute;
//   top: 12px;
//   right: 12px;
//   border-radius: 50%;
//   width: 15px;
//   height: 15px;
//   background: #ff001b;
//   box-shadow: 0 0 0 5px #ff001b33, 0 0 0 10px #ff001b22, 0 0 0 20px #ff001b11;
// }

// .ring:nth-child(2) {
//   animation: spinner2 4s linear infinite;
//   animation-delay: -1s;
//   border-top: 4px solid transparent;
//   border-left: 4px solid #ffffff;
//   @keyframes spinner2 {
//     0% {
//       transform: rotate(360deg);
//     }
//     100% {
//       transform: rotate(0deg);
//     }
//   }
//   &:before {
//     content: '';
//     position: absolute;
//     top: 12px;
//     left: 12px;
//     border-radius: 50%;
//     width: 15px;
//     height: 15px;
//     background: #ffffff;
//     box-shadow: 0 0 0 5px #ffffff33, 0 0 0 10px #ffffff22, 0 0 0 20px #ffffff11;
//   }
// }
// .ring:nth-child(3) {
//   animation: spinner2 4s linear infinite;
//   animation-delay: -3s;
//   border-top: 4px solid transparent;
//   border-left: 4px solid #000000;
//   position: absolute;
//   top: 43vh;

//   &:before {
//     content: '';
//     position: absolute;
//     top: 12px;
//     left: 12px;
//     border-radius: 50%;
//     width: 15px;
//     height: 15px;
//     background: #000000;
//     box-shadow: 0 0 0 5px #00000033, 0 0 0 10px #00000022, 0 0 0 20px #00000011;
//   }
// }

// @keyframes spinner {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
